.App {
  text-align: center;
}
#site-name{
  font-size: 200%;
}
#navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
}
#main-board{
  display:flex;
  /* width:100%; */
  margin-top:50px;
  /* background:blue; */
}
/*Switch Details*/
#switch-details{
  background-color:#cbaf87;
  height:80vh;
  width:20vw;
  top: 6vh;
  padding:15px;  
  position:sticky;
  border-radius:15px;
  margin-left:15px;
  margin-right:15px;
  display:hidden;
  overflow:scroll;

}
#switch-details::-webkit-scrollbar {
  display: none;
}

#switch-details ul{
  list-style:none;
  text-align: left;
  padding:0;
}
#switch-details ul li{
  padding: 10px;
  /* font-weight: bold; */
  font-size:1em;
}
/*End of Switch Details */
#toolbar{
  display:flex;
  /* flex-wrap:wrap; */
  justify-content: center;
  margin:0;
  margin-bottom:45px;
  margin-right:20px;
  margin-left:20px;
  /* background:green; */
  overflow:hidden;
}
.toolbar-text{
  font-family: inherit;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1.3rem;
  color: #2b2b2b;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  font-weight: bold;
  width:15rem;
}
.toolbar-button{
  background-color: #C7B198;
  border: none;
  color: #2b2b2b;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 28px;
  border-radius: 30px;
  height:3rem;
  width:8rem; 
  font-weight: bold;
  margin-left:15px;
  border:none;
  outline:none;
  cursor:pointer;
}
.button-active{
  background-color: #776E65;
  border: none;
  color: #2b2b2b;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 28px;
  border-radius: 30px;
  height:3rem;
  width:8rem; 
  font-weight: bold;
  margin-left:15px;
  border:none;
  outline:none;
  cursor:pointer;
}
.toolbar-button:active{
  background:#94734e;
}
#product-board{
  /* background:yellow; */
  width:100%;
  /* overflow:hidden; */
}
#switch-container{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  padding: 10px;
  justify-content: space-evenly;
  row-gap:50px;
  margin-left:20px;
  margin-right:20px;
  align-content:center;

}

.switch-items{
  height:100%;
  border-radius:15px;
  border-style: solid;
  border-width:1px;
  background-color:white;
  padding:10px;
  overflow:hidden;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  #switch-container{
    grid-template-columns: repeat(3, 1fr);
  }
  #switch-details{
    display:none;
  }
  #navbar{
    display:none;
  }
}

/*nav*/
nav {
  order: 1;
}
.nav-links a{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #2b2b2b;
  text-decoration: none;
  font-size: 125%;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  font-size: 16px;
}

.nav-links li {
  padding: 0px 20px;
}

.nav-links li:nth-child(1) {
  padding: 0 20px 0 0;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #0088a9;
}
/*End Of Nav*/
.title-page{
  margin:25px;
  padding-right: 50px;
  font-size:300%;
}
.text-desc{
  font-size:1.5em;
  padding:25px;
}